<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Bem-vindo ao Sistema Exemplo</h1>
    <h2>Sistema Exemplo de Relacionamento entre Entidades</h2>
    <h3>Entidades: Pai - Filiação - Mãe</h3>
    <ul>
        <li><a href="/maes">Listar mães</a></li>
        <li><a href="/maes/novo">Cadastrar mães</a></li>
        <li><a href="/pais">Listar pais</a></li>
        <li><a href="/pais/novo">Cadastrar pais</a></li>
        <li><a href="/filiacoes">Listar filiações</a></li>
        <li><a href="/filiacoes/novo">Cadastrar filiações</a></li>
    </ul>

</body>
</html>